<div ui-content-for="title" ng-init="delete_status()">
    <span>افزودن گروه</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <form role="form" ng-submit="insert_group(name)">
            <fieldset>
                <legend>افزودن گروه</legend>
                <div ng-if="insert_group_status" class="alert alert-success">افزوده شد</div>
                <div class="form-group">
                    <label>*نام</label>
                    <input type="text" ng-model="name" class="form-control"
                           placeholder="نام و نام خانوادگی را وارد نمایید" dir="rtl" required>
                </div>
            </fieldset>
            <hr>
            <button class="btn btn-primary btn-block">افزودن</button>
            <div ui-content-for="navbarAction">
                <a class="btn" ng-click="insert_group(name)">افزودن</a>
            </div>
        </form>
    </div>
</div>
