<div ui-content-for="title">
    <span>خروجی داده ها</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <form role="form" ng-submit="backup_sql()">
            <fieldset>
                <legend>خروجی داده ها</legend>
                <div class="alert alert-info">بر روی کلید پشتیبان گیری کلیک نمایید تا اطلاعات خروجی را دریافت نمایید تا بتوانید برای دیگران ارسال نمایید.</div>
                <div class="form-group">
                    <textarea ng-model="return" class="form-control" rows="5" dir="ltr" placeholder="بر روی کلید پشتیبان گیری کلیک نمایید تا اطلاعات خروجی را دریافت نمایید."></textarea>
                </div>
            </fieldset>
            <hr>
            <button class="btn btn-primary btn-block"><i class="fa fa-download"></i> پشتیبان گیری</button>
            <div ui-content-for="navbarAction">
                <a class="btn" ng-click="backup_sql()"><i class="fa fa-download"></i> پشتیبان گیری</a>
            </div>
        </form>
    </div>
</div>
