<div ui-content-for="title" ng-init="select_group_by_param()">
    <span>{{group[0].name}}</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <div><b>شمارنده:</b><br>{{group[0].id}}</div><br>
        <div><b>نام:</b><br>{{group[0].name}}</div><br>
        <table class="table" dir="rtl">
            <tr>
                <th>نام</th>
                <th>شماره همراه</th>
                <th>حذف</th>
            </tr>
            <tr ng-repeat="item in group_users">
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td><a class="btn btn-primary" ng-click="delete_user(item.id)"><i class="fa fa-trash"></i></a></td>
            </tr>
        </table>
        <a class="btn btn-primary btn-block" href="#/groups"><i class="fa fa-list-ul"></i> لیست گروه ها</a>
        <a class="btn btn-primary btn-block" ng-click="delete_group_by_param()" href="#/groups"><i class="fa fa-trash"></i> حذف گروه</a>
    </div>
</div>
