<div ui-content-for="title" ng-init="delete_status()">
    <span>ورودی داده ها</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <form role="form" ng-submit="restore_sql(restore)">
            <fieldset>
                <legend>ورودی داده ها</legend>
                <div ng-if="insert_restore_status" class="alert alert-success">اطلاعات بروز شد.</div>
                <div class="alert alert-danger">لطفا قبل از بازیابی از اطلاعات، پشتیبان تهیه نمایید.</div>
                <div class="alert alert-info">اطلاعات ارسالی را در فیلد زیر وارد نمایید سپس بر روی بازیابی کلیک نمایید.</div>
                <div class="form-group">
                    <textarea ng-model="restore" class="form-control" rows="5" dir="ltr" placeholder="اطلاعات بازیابی را اینجا وارد نمایید."></textarea>
                </div>
            </fieldset>
            <hr>
            <button class="btn btn-primary btn-block"><i class="fa fa-upload"></i> بازیابی</button>
            <div ui-content-for="navbarAction">
                <a class="btn" ng-click="restore_sql(restore)"><i class="fa fa-upload"></i> بازیابی</a>
            </div>
        </form>
    </div>
</div>
